@model project.Models.Borrow

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

<body style="background-color: #778899; ">
    <h2 style="font-weight: 700; color: #003300; ">Update History</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal" style="background-color: #e6f9ff; padding-left:240px; margin-right: 100px; border: 2px solid black; padding-top: 15px; ">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)



    <div class="form-group">
        @Html.LabelFor(model => model.Book_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Book_ID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer_ID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Borrow_Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Borrow_Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Borrow_Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Return_Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Return_Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Return_Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="margin-left: 100px; padding-bottom: 10px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default btn-warning" />
        </div>
    </div>
</div>
    }

    </br>
    <div style="font-size: 15px; font-weight:600; background-color: #ffffcc; padding: 8px; margin-left: 20px; margin-right: 1067px; padding-top:3px; padding-bottom:3px; border: 1px solid black;">
        @Html.ActionLink("Back", "Index")
    </div>
    </br></br>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>