@model IEnumerable<project.Models.Borrow>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}
<body style="background-color: #778899; ">
    <h2 style="font-weight: 700; color: #003300; ">Borrow History</h2>

    @*<p style="font-size: 15px; font-weight:600; background-color: #ffffcc; padding: 8px; margin-left: 20px; margin-right: 996px; padding-top:3px; padding-bottom:3px; border: 1px solid black;">
        @Html.ActionLink("New Customer", "Create", "BorrowNew")
    </p>*@
    <table class="table" border="4px" bordercolor="black" style="background-color: #e6f9ff; ">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Book_Name)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Book_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrow_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Return_Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Book_Name)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Book_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Borrow_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Return_Date)
                </td>
                <td>
                    @Html.ActionLink("Update", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    </body>
</br>
</br>